<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Website | Code mentor</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">Logo</div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Admission</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Welcome to Nexus Academy</h1>
            <p>Discover a dynamic community of scholars and embark on a journey of intellectual growth. <br> We believe in fostering curiosity and empowering individuals to shape a brilliant future. Your quest for knowledge begins here!</p>
            <div>
                <a href="../signin/signin.html"><button type="button"> <span></span> Admin</button></a>
                <a href="../signin/signin.html"><button type="button"> <span></span> Student</button></a>
            </div>
        </div>

    </div>

</body>
</html>